.flex {
  display: flex;
  align-items: center;
}

.navbar__wrapper {
  width: 100%;
  height: 60px;
  background-color: #2a2a2a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav__logo__wrapper {
  max-width: calc(120px + 51px + 16px);
  width: 100%;
  background-color: transparent;
  height: 95%;
}

.nav__logo {
  width: 51px;
  height: 100%;
  padding: 5px;
  object-fit: cover;
}

.logo__fortnite {
  width: 120px;
  height: 100%;
  object-fit: cover;
}


.nav__items {
  flex: 1;
  height: 100%;
}

.nav__lists {
  height: 100%;
}

.nav__list__text,
.nav__list__text1 {
  margin: 0 16px;
  font-size: 12px;
  color: #cccccc;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  height: 100%;
  display: grid;
  place-items: center;
}


.nav__list__text::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  transition: 150ms all;
  transform: scaleY(0);
  transform-origin: bottom;
  background-color: #ffff00;
}

.nav__list__text:hover::after {
  transform: scaleY(1);
}

.down__list {
  width: 161px;
  height: 167px;
  background-color: #2a2a2a;
  color: #cccccc;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 5px 15px;
  display: none;
}

.nav__list__text1:hover .down__list {
  display: block;
}

.down__list__items li {
  list-style-type: none;
  margin: 5px 0 10px 0;
  height: 30px;
}

.search__icon {
  width: auto;
  height: 100%;
}

.showSearch {
  width: 50%;
  height: 100%;
  position: relative;
}

.showSearch input {
  width: 100%;
  height: 60%;
  background-color: #1e1d1d;
  border: 1px solid #3c3c3c;
  text-indent: 10px;
  border-radius: 5px;
  outline: none;
  color: #cccccc;
  transition: 250ms ease;
}

.search__icon input {
  transform: scaleX(0);
}


.icon {
  font-size: 22px;
  color: #cccccc;
  margin: 0 10px;
}

.search__result {
  width: 100%;
  height: auto;
  min-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1e1d1d;
  color: #ccc;
  overflow-y: auto;
}

.search__link {
  padding: 0 20px;
  height: 50px;
  margin: 10px 0;
}

.search__link span {
  margin-left: 20px;
}

.icon__container {
  width: 100%;
  max-width: 180px;
  height: 100%;
  position: relative;
}

.world__icon:hover .language__collection {
  display: block;
}

.language--icon {
  width: 45px;
  height: 100%;
  padding: 10px;
  display: grid;
  place-items: center;
}


.language__collection {
  width: 186px;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 55px;
  left: 0;
  display: none;
  font-size: 13px;
  background-color: #2a2a2a;
  border-radius: 4px;
  list-style-type: none;
  text-align: center;
}

.language__collection li {
  margin: 10px 0;
  color: #cccccc;
}

.language__collection li:hover {
  color: #f7f7f7;
  cursor: pointer;
}

.login {
  width: 100%;
  height: 40px;
  max-width: 98px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: #cccccc;
  font-size: 13px;
}


.download__btn {
  width: 120px;
  height: 60px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ffff00;
}

.bars--icon,
.sidebar__close {
  display: none;
}


@media screen and (max-width: 1450px) {
  .nav__list__text {
    font-size: 9px;
    margin: 0 8px;
  }
}

@media screen and (max-width: 1230px) {

  .navbar__wrapper {
    justify-content: space-between;
  }

  .nav__items,
  .icon__container,
  .icon,
  .search__icon {
    display: none;
  }

  .bars--icon,
  .sidebar__close {
    display: block;
    width: 45px;
    height: 100%;
    padding: 10px;
    color: #ccc;
  }


}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 976px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 501px) {}

@media screen and (max-width: 460px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 370px) {}

@media (min-width: 300px) and (max-width: 330px) {}