@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.banner {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.banner__img {
  width: 100%;
  height: 700px;
  background-image: url("https://cdn2.unrealengine.com/fortnite-home-page-zero-build-promo-slide-desktop-1920x1080-b5271796c9a6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 100%;
  top: 7vh;
}


.banner__img img {
  width: 100%;
  max-width: 630px;
  object-fit: cover;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
}

